// Theme colors
$dark-blue: #192F9D;
$blue: #337FD0;
$yellow: #F1CA4C;
$red: #D5161D;
$green: #679633;
$orange: #FA8726;
$black: #393939;

// Layout
$width-regular: 56.25rem;
$width-wide: 75rem;
$width-full: 100vw;

// Translated units
$px-15-to-rem: 0.9375rem;
$px-30-to-rem: 1.875rem;
$px-neg-30-to-rem: -1.875rem;
$px-150-to-rem: 9.375rem;

// Media query
$standard-breakpoint: 60em;
