/* The Evens Calendar */
.event-categories .category-navigation {
  margin-bottom: 0;
}

.tribe-events-l-container {
  padding: $px-15-to-rem;
}

.tribe-events {

  .tribe-events-header {

    button {
      border: 0;

      &:hover,
      &:focus {
        background-color: transparent;
        color: $black !important;
        opacity: .75;
      }

    }

    .tribe-common-h3 {
      font-family: $roboto-slab;
      font-size: $font-size-h3;
    }

  }

  .tribe-events-header__messages {
    background-color: #F7F7F7;
    font-weight: 700;
  }

}

.tribe-events-calendar-list__event-date-tag {
  display: flex;
    align-items: flex-start;
  width: 14rem !important;

  .tribe-events-calendar-list__event-date-tag-datetime {
    align-items: flex-start;
    background-color: $black;
    color: #fff;
    height: auto;
      min-height: 12rem;
    letter-spacing: .05;
    line-height: 1;
    padding: $px-15-to-rem;
    text-transform: uppercase;
    min-width: 12rem;

    .tribe-events-calendar-list__event-date-tag-day {
      margin-bottom: .25em;
    }

    .tribe-events-calendar-list__event-date-tag-month {
      font-size: 1.5625rem;
      font-weight: 700;
    }

    .tribe-events-calendar-list__event-date-tag-daynum {
      font-family: $roboto-slab;
      font-size: 4.4375rem;
      font-weight: 700;
    }

  }

}

.tribe-common--breakpoint-medium.tribe-events .tribe-events-calendar-list__event-details {
  width: 100%;
}

.tribe-events-calendar-list__event-header .entry-meta {
  display: inline-block;
  margin-right: $px-15-to-rem;
  margin-bottom: $px-15-to-rem;

}

.tribe-events-calendar-list__event-cost {
  display: inline-block;
  font-weight: 500;
  margin-top: 0 !important;
  margin-bottom: $px-15-to-rem;
  text-transform: uppercase;
}

.tribe-events-calendar-list__event-title a,
.tribe-events-calendar-day__event-title a {
  text-decoration: none;
}

.tribe-events-calendar-list__event-datetime {
  font-size: 1.5625rem;
  font-weight: 500;
}

.tribe-events-c-view-selector__content {
  box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.16);
}

.tribe-events-c-nav__prev,
.tribe-events-c-nav__next,
.tribe-common-c-btn-border {
  background-color: transparent;
  border: 3px solid $black !important;
  border-radius: $px-30-to-rem !important;
  color: $black;
  cursor: pointer !important;
  font-weight: 700;
  padding: 5px 10px !important;
  text-decoration: none;

  &:hover,
  &:focus {
    background-color: $black;
    border-radius: 0 !important;
    color: #fff !important;
  }

}

.tribe-events-c-ical__link {
  font-size: .75em;

  &:hover {
    background-color: transparent !important;
  }
}

.tribe-events-calendar-list__month-separator,
.tribe-events-calendar-day__time-separator {
  justify-content: center;

  &::before,
  &::after {
    background-color: $black;
    content: '';
    height: 1px;
    width: 100%;
  }

  .tribe-events-calendar-list__month-separator-text,
  .tribe-events-calendar-day__time-separator-text {
    font-weight: 700;
    margin: 0 $px-30-to-rem;
    text-transform: uppercase;
  }

}

.tribe-events-calendar-month__header-row h3,
.tribe-events-calendar-month__day-date {
  font-family: $roboto;
  font-size: 1rem;
  text-transform: uppercase;
}

.tribe-events-calendar-month__calendar-event-details,
.tribe-events-calendar-month__calendar-event-details h3 {
  font-size: 1rem;
}

.tribe-events-calendar-month__calendar-event-datetime {
  letter-spacing: 0;
  margin-bottom: 10px !important;
}

.tribe-events-calendar-month__calendar-event-tooltip {
    background-color: #F7F7F7 !important;
    border-radius: 0 !important;
    border-width: 1px !important;
    color: $black;
    font-size: 1rem !important;
    padding: $px-15-to-rem !important;
    width: 25vw !important;
    max-width: unset !important;
}

.tribe-events-calendar-month__calendar-event-tooltip-title {
  font-size: 1.5rem;
}

.single-tribe_events{

  .tribe-events-notices {
    background-color: #F7F7F7;
    border-color: $black;
    border-radius: 0;
    color: $black;
    font-weight: 700;
    text-align: center;
  }

  .tribe-events-single-event-title {
    font-size: $font-size-h3;
  }

  .tribe-events-schedule {
    display: flex;
      align-items: center;

    h2 {
      font-family: $roboto;
      font-size: $font-size-h5;
      margin-right: $px-30-to-rem;
      margin-bottom: $px-30-to-rem;
    }

    .tribe-events-cost {
      font-size: $font-size-h5;
      font-weight: 700;
      margin-bottom: $px-30-to-rem;
      text-transform: uppercase;
    }

  }

  #tribe-events-header {
    display: none;
  }

  .tribe-events-cal-links {
    display: block;
    font-size: 1rem;
    text-align: right;

    a {
      display: block;
    }

  }

  .tribe-events-meta-group {
    margin-bottom: 30px;
    padding: $px-30-to-rem;

    dd {
      margin-left: 0;
      margin-bottom: $px-30-to-rem;
    }

  }

  .tribe-related-events-title {
    font-size: $font-size-h5;
  }

}

.tribe-events-c-nav__list-item button[disabled] {
  display: none;
}

.tribe-events-nav-pagination .tribe-events-nav-previous {
  text-align: left;
}

.tribe-events-nav-pagination .tribe-events-nav-next {
  text-align: right;
}

@media only screen and (max-width:$breakpoint-standard) {

  .tribe-events .tribe-events-calendar-list__event-row {
    flex-wrap: wrap;
  }

  .tribe-events .tribe-events-calendar-list__event-wrapper {
    flex-basis: 100%;
  }

  .single-tribe_events #tribe-events-footer li {
    width: 100%;
  }

}
