button,
input[type="submit"],
.button,
.wp-block-button__link {
  background-color: transparent;
  border: 3px solid currentColor;
  border-radius: $px-30-to-rem;
  cursor: pointer;
  font-weight: 700;
}

button:hover,
button:focus,
input[type="submit"]:hover,
input[type="submit"]:focus,
.button:hover,
.button:focus,
.wp-block-button:not(.is-style-underscore) .wp-block-button__link:hover,
.wp-block-button:not(.is-style-underscore) .wp-block-button__link:focus {
  background-color: $black;
  border-radius: 0;
  color: #fff !important;
}

.is-style-underscore .wp-block-button__link {
  border: 0;
  border-radius: 0;
  padding: 0 0 0 30px;
  position: relative;
}

.is-style-underscore .wp-block-button__link::before {
  border-bottom: 3px solid currentColor;
  content: '';
  display: block;
  position: absolute;
    left: 0;
    bottom: 3px;
  transition: all 250ms ease-in-out;
  width: 25px;
}

.is-style-underscore .wp-block-button__link:hover::before,
.is-style-underscore .wp-block-button__link:focus::before {
  bottom: -3px;
  width: 100%;
}

.is-style-underscore .wp-block-button__link,
.is-style-outline .wp-block-button__link {
  color: inherit;
}

.wp-block-button:not(.is-style-outline):not(.is-style-underscore) .wp-block-button__link {
  background-color: $black;
  border-color: $black;
}

input {
  border: 3px solid $black;
  border-radius: $px-30-to-rem;
  padding: 5px $px-15-to-rem;
}
