.site-header {

  .wrap {
    max-width: unset;
    padding: $px-15-to-rem;

    .title-area {
      float: left;
      width: calc( 100% - 4.375rem );
    }

    .menu-toggle {
      font-size: 0;
      height: 4.375rem;
      margin: 0;
      padding: $px-15-to-rem;
      width: 4.375rem;

      &::before {
        content: '';
        display: none;
      }

      svg #x {
        opacity: 0;
      }

      &.activated svg {

        #bars {
          opacity: 0;
        }

        #x {
          opacity: 1;
        }

      }

    }

    .genesis-responsive-menu {
      font-size: 0;
      min-height: calc( 100vh - 1.875rem );

      .menu {
        display: flex;
          flex-wrap: wrap;
          justify-content: flex-start;

        .menu-item:not(.moved-item-nav-primary) {
          border-bottom: 1px solid $black;
          font-size: 0.875rem;
          font-weight: 500;
          margin-bottom: $px-15-to-rem;
          text-transform: lowercase;

          a {
            color: $black;
            margin-right: $px-15-to-rem;
            padding: 0.75rem 0.3125rem;
          }

          &.current-menu-item a {
            border-bottom: 0.25rem solid $black;
            padding-bottom: 0.5rem;
          }

        }

        .search-toggle {
          flex-grow: 1;
          text-align: right;

          .dashicons {
            font-size: 2.5rem;
            height: 2.5rem;
            width: 2.5rem;
          }

        }

        .search {
          font-size: 1.125rem;
          display: none;

          &.is-active {
            display: block;
          }

          // & + .menu-item {
          //   margin-top: $px-30-to-rem;
          // }

        }

        .menu-item.moved-item-nav-primary {
          flex-basis: 100vw;
          font-size: 1.688rem;
          font-weight: 700;
          margin: 0 $px-neg-30-to-rem;
          padding: $px-15-to-rem $px-30-to-rem;
          text-align: right;

          &.has-active-sub-menu {
            background-color: #F4F4F4;
          }

          a {
            display: flex;
              justify-content: flex-end;

            span {
              border-bottom: 0.1875rem solid $black;
              color: $black;
              padding-bottom: 0.625rem;
            }

          }

          &.menu-item-has-children a span {
            padding-right: $px-15-to-rem;
          }

          .sub-menu-toggle {
            color: #C7C7C7;
            flex-shrink: 0;
            padding: 0;
            top: 2.5rem;
            right: 0.625rem;
            width: $px-30-to-rem;

            &:before {
              font-size: $px-30-to-rem;
              height: $px-30-to-rem;
              width: $px-30-to-rem;
            }

          }

          .sub-menu {

            .menu-item {
              border-bottom: 1px solid #C7C7C7;
              font-size: 1rem;
              text-transform: uppercase;

              &:last-child {
                border-bottom: 0;
              }

              a {
                background-color: transparent;
                padding-right: 0.3125rem;

                span {
                  border-bottom: 0;
                }

              }

            }

          }

        }

      }

    }

  }

}

@media only screen and (min-width: $standard-breakpoint) {

  .site-header {

    .wrap {
      padding-left: $px-150-to-rem;
      padding-right: $px-150-to-rem;
    }

  }

}
