.archive-description {
  margin-bottom: 0;
}

.page .entry-title,
.single .entry-title,
.archive-title {
  background-color: $black;
  color: #fff;
  display: inline-block;
  line-height: 1;
  margin-bottom: 60px;
  padding: $px-15-to-rem $px-15-to-rem $px-30-to-rem;
}

.page.has-post-thumbnail .entry-header,
.archive.has-post-thumbnail .archive-description,
.single.has-post-thumbnail .entry-header {
  position: relative;
  margin-bottom: 60px;

  .wrap {
    position: relative;
  }

  .entry-title,
  .archive-title {
    margin: 0 15px 0 0;
    position: absolute;
      left: 15px;
      bottom: -30px;
  }

}

.page-hero {

  .page-hero__image {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 50vh;

    img {
      display: none;
    }

  }

}

@media only screen and (min-width: $breakpoint-wide) {

  .page-hero {
    margin-left: auto;
    margin-right: auto;
    max-width: calc( 100vw - 300px );
  }

}
