.archive-description {
  margin-bottom: 0;
}

.page .entry-title,
.archive-title {
  background-color: $black;
  color: #fff;
  display: inline-block;
  line-height: 1;
  margin-bottom: 60px;
  padding: $px-15-to-rem $px-15-to-rem $px-30-to-rem;
}

.page.has-post-thumbnail .entry-header,
.archive.has-post-thumbnail .archive-description {
  position: relative;
  margin-bottom: 90px;

  .wrap {
    position: relative;
  }

  .entry-title,
  .archive-title {
    margin: 0 15px 0 0;
    position: absolute;
      left: 15px;
      bottom: -30px;
  }

}

.page-hero {

  .page-hero__image {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 50vh;

    img {
      display: none;
    }

  }

}

.home .entry-header {

  .page-hero {

    .page-hero__image {
      position: relative;

      &::before,
      &::after {
        background-color: $black;
        content: '';
        display: block;
        opacity: .17;
        position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
      }

      &::after {
        background: linear-gradient( to left, #F1CA4C 0 25%, #337FD0 25% 50%, #D5161D 50% 75%, #679633 75% 100% );
        background-color: transparent;
        height: 25px;
        opacity: 1;
        top: auto;
      }

    }

    .page-hero__headline {
      color: #fff;
      font-family: $roboto-slab;
      font-size: 4.375rem;
      font-size: 2.1875rem;
      font-weight: 700;
      line-height: 1;
      position: absolute;
        right: 2.5rem;
        bottom: 40px;
        left: 2.5rem;
      text-shadow: 0px 3px 6px rgba(0,0,0,.43);
      z-index: 1;
    }

  }

  & > .wrap {
    display: none;
  }

}

@media only screen and (min-width: $breakpoint-wide) {

  .page-hero {
    margin-left: auto;
    margin-right: auto;
    max-width: calc( 100vw - 300px );

    .page-hero__image {
      min-height: 100vh;
    }

  }

  body:not(.has-post-thumbnail) {

    .content > .entry > .entry-header {
      margin-top: 13rem;
    }

  }

  .home .entry-header {

    .page-hero {

      .page-hero__image {

        &::after {
          height: 50px;
        }

      }

      .page-hero__headline {
        font-size: 4.375rem;
        bottom: 60px;
        max-width: 50rem;
      }

    }

  }

}
