.archive-description {
  margin-bottom: 0;
}

.page .entry-title,
.single .entry-title,
.archive-title {
  background-color: $black;
  color: #fff;
  display: inline-block;
  line-height: 1;
  margin-bottom: 60px;
  padding: $px-15-to-rem $px-15-to-rem $px-30-to-rem;
}

.page.has-post-thumbnail .entry-header,
.archive.has-post-thumbnail .archive-description,
.single.has-post-thumbnail .entry-header {
  position: relative;
  margin-bottom: 60px;
  max-width: $width-wide;

  .entry-title,
  .archive-title {
    margin: 0 15px 0 0;
    position: absolute;
      left: 15px;
      bottom: -30px;
  }

}

.page-hero {
  margin-left: -15px;
  margin-right: -15px;

  .page-hero__image {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 50vh;

    img {
      display: none;
    }

  }

}

@media only screen and (min-width: $standard-breakpoint) {

  .page-hero {
    margin-left: calc( 50% - 50vw );
    margin-right: calc( 50% - 50vw );
    padding-left: 30px;
    padding-right: 30px;
  }

}

@media only screen and (min-width: $wide-breakpoint) {

  .site-inner {
    margin-top: $px-30-to-rem;
  }

  .page.has-post-thumbnail .entry-header,
  .archive.has-post-thumbnail .archive-description,
  .single.has-post-thumbnail .entry-header {
    margin: 0 auto 90px;
    margin-bottom: 90px;

    .entry-title,
    .archive-title {
      left: 0;
    }

  }

  .page-hero {
    padding-left: 150px;
    padding-right: 150px;

    .page-hero__image {
      min-height: 65vh;
    }

  }

}

@media only screen and (min-width: 95.625em) {

  .page .entry-title,
  .archive .archive-title,
  .single .entry-title {
    margin-left: -150px !important;
    margin-right: -150px !important;
  }

}
