.single {

  .entry-header {
    margin-bottom: 0 !important;

    & > .wrap {
      margin-top: $px-30-to-rem;
      max-width: $breakpoint-standard;
    }

    & + .entry-meta {
      margin-bottom: 0;
    }

  }

  .entry-categories {
    padding: $px-15-to-rem;
  }

  .entry-meta-container {
    display: flex;
      align-items: center;
      flex-wrap: wrap;
    font-size: 1rem;
    font-style: italic;
    margin: 0 auto $px-60-to-rem;
    max-width: $breakpoint-standard;
    padding: 0 $px-15-to-rem;

    .printfriendly {
      margin: 0 $px-15-to-rem .25em;
    }

  }

}
